<app-navbar>
  <div class="container">
    <button mat-flat-button color="accent" class="create" style="margin: 8px;" (click)="openDialog()">Create New Task</button>
    <button mat-flat-button color="accent" class="report" style="margin: 8px;">Report</button>

    <br>
    <br>
    <table  mat-table [dataSource]="dataSource">
      <!-- room number, occupancy status, cleaning status, maintenance status, fault description and request-->

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <ng-container matColumnDef="roomNumber">
        <th mat-header-cell *matHeaderCellDef>Room Number</th>
        <td mat-cell *matCellDef="let element">{{ element.roomNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="occupancyStatus">
        <th mat-header-cell *matHeaderCellDef>Occupancy Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.occupancyStatus }}
        </td>
      </ng-container>

      <ng-container matColumnDef="cleaningStatus">
        <th mat-header-cell *matHeaderCellDef>Cleaning Status</th>
        <td mat-cell *matCellDef="let element">{{ element.cleaningStatus }}</td>
      </ng-container>

      <ng-container matColumnDef="maintenanceStatus">
        <th mat-header-cell *matHeaderCellDef>Maintenance Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.maintenanceStatus }}
        </td>
      </ng-container>

      <ng-container matColumnDef="faultDescription">
        <th mat-header-cell *matHeaderCellDef>Fault Description</th>
        <td mat-cell *matCellDef="let element">
          {{ element.faultDescription }}
        </td>
      </ng-container>

      <ng-container matColumnDef="request">
        <th mat-header-cell *matHeaderCellDef>Request</th>
        <td mat-cell *matCellDef="let element">{{ element.request }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</app-navbar>
