.sidenav {
    background-color: #212529;
  }
  
  .footer {
    color: #f1f3f5;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .nav-list {
    .item {
      padding: 14px 10px 14px 10px;
      
      text-decoration: none;
      color: #f1f3f5;
      display: flex;
      gap: 10px;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 12px;
      margin-top: 12px;
  
      &:hover {
        background-color: #343a40;
      }
  
      
    }

    .active {
      background-color: #343a40;
  }
  }
  