<app-toolbar></app-toolbar>
<div class="content">
  <form [formGroup]="loginForm" (ngSubmit)="submit()" class="login-form">
    <div class="logo"><img src="assets/logo-no-background.png" alt="" /></div>
    <div class="inputs-container">
      <div class="inputs">
        <div class="form">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput placeholder="Email" />
            <mat-error style="font-size: 10px;" *ngIf="emailError">{{ emailError }}</mat-error>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" type="password" matInput placeholder="Password" />
            <mat-error style="font-size: 10px;" *ngIf="passwordError">{{ passwordError }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button type="submit" mat-flat-button color="accent">Login</button>
    </div>
  </form>
</div>
